@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

// Font
$main-font: 'Lato', sans-serif;
$font-small: 10px;
$font-medium: 15px;
$font-big: 20px;


// Colors
$red: #B00E23;
$black: #040503;
$grey: #e8e8e8;
$white: #ffffff;

