.wrapper {
  width: 100%;
  max-width: 1500px;
  border: 10px solid red;
  max-width: 1800px;
  height: 100vh;
  max-height: 1200px;
  background-color: #F0F0F0;
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll
}

.content {
  width: 100%;
  padding: 30px;
}