@import 'variables';
.cardWrapper {
    flex:1;
    margin:1%;
    height:100px;
    background-color: $white;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.number {
    font-size: $font-big;
    text-align: center;
}
.heading {
    font-size: $font-medium;
    text-align: center;
}
