@import './variables';


#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#form {
	background-color: $white;
	padding: 30px;
	border-radius: 15px;
	width: 500px;
}

#form table {
	border-spacing: 10px;
	width: 100%;
}

// #form table td:first-child {
// 	width: 70px;
// }

// #form table label {
// 	width: 100%;
// 	padding-right: 15px;
// 	font-size: $font-big;
// }

// #form table input {
// 	width: 100%;
// 	border-radius: 5px;
// 	border: 1px solid #e8e8e8;
// 	font-size: $font-medium;
// 	padding: 5px 10px;
// 	outline: none;
// 	position: relative;
// }

// #form table input[type=submit] {
// 	width: 100%;
// 	background-color: $red;
// 	color: $white;
// 	padding: 7.5px 0
// }
